* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  color: #62646a;
  font-size: 14px;
  font-weight: 400;
}

html ::selection,
body ::selection {
  background: #d5d4d2;
  color: #fff;
  text-shadow: none;
}

.fa-angle-left {
  position: absolute;
  top: 50%;
  left: 0.8%;
  width: 48px;
  height: 48px;
  border: 1px solid #d5d4d2;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  z-index: 4;
  line-height: 48px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  margin-top: -25px;
}

.fa-angle-right {
  position: absolute;
  top: 50%;
  right: 2.8%;
  width: 48px;
  height: 48px;
  border: 1px solid #d5d4d2;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  z-index: 4;
  line-height: 48px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  margin-top: -25px;
}

.input-group-text {
  background-color: #fff;
  color: #d5d4d2;
  border-color: #1dbf73;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: #1dbf73;
}

.input-group-text:hover {
  background: #19a463;
}

.form-control {
  color: #d5d4d2;
  font-size: 16px;
  font-weight: normal;
  background-clip: unset;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: white;
}

.section__padding {
  padding: 0 60px;
}

.fiverbtn-white {
  background-color: #fff;
  border: 1px solid #1dbf73;
  border-radius: 3px;
  padding: 7px 20px;
  color: #1dbf73;
  font-size: 14px;
  font-weight: 700;
}

.fiverbtn-white:hover {
  background-color: #1dbf73;
  border-color: #1dbf73;
  color: #fff;
}

.fiverbtn-green {
  background-color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 3px;
  padding: 7px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.fiverbtn-green:hover {
  background-color: #19a463;
  border-color: #19a463;
  color: #fff;
}

.fiverbtn-green a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.settingBody {
  margin: 0 75px;
  margin-bottom: 100px;
}

.sellCarousel_content {
  position: relative;
  height: 580px;
  z-index: 0;
  overflow: hidden;
  background-color: #1f1f1f;
}

.sellCarousel_content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1490px) {
  .sellCarousel_content video {
    position: fixed;
    z-index: 1;
    height: 580px;
  }
}

.sellCarousel_content .text {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.3);
}

.sellCarousel_content .text h1 {
  color: #fff;
  font-size: 50px;
  line-height: 110%;
  max-width: 750px;
  margin: 0 auto;
  font-weight: 700;
}

.sellCarousel_content .text p {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  max-width: 750px;
  margin: 5px auto 15px;
}

.sellCarousel_content .text a {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  margin: 15px 8px 0;
  cursor: pointer;
}

.sellCarousel_content .text a:hover {
  background-color: #3fca89;
  text-decoration: none;
  color: white;
}

.sellCarousel_content .stats {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 25px 0;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.sellCarousel_content .stats .box-row {
  width: 988px;
  margin: 0 auto;
}

@media screen and (min-width: 1260px) {
  .sellCarousel_content .stats .box-row {
    width: 1240px;
  }
}

.sellCarousel_content .stats .box-row ul {
  list-style: none;
  margin-bottom: 0;
}

.sellCarousel_content .stats .box-row ul li {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  width: 33.33%;
  float: left;
  text-align: center;
}

.sellCarousel_content .stats .box-row ul li p {
  margin-bottom: 5px;
}

.sellCarousel_content .stats .box-row ul li strong {
  font-size: 45px;
  font-weight: 400;
  font-size: 45px;
}

.clear {
  clear: both;
}

.community {
  background: #fff;
  position: relative;
  padding-bottom: 20px;
  padding-top: 30px;
  color: #fff;
}

.community .community_content {
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  margin: 0 auto;
  width: 988px;
}

@media screen and (min-width: 1260px) {
  .community .community_content {
    width: 1240px;
  }
}

.community .community_content div.communityHeader h2 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
  color: #222325;
  font-size: 28px;
  line-height: 130%;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .community .community_content div.communityHeader h2 {
    font-size: 32px;
    line-height: 120%;
  }
}

.community .community_content ul {
  list-style: none;
  margin-bottom: 0;
}

.community .community_content ul:hover li::before {
  opacity: 0.8;
}

.community .community_content ul li {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 2% 2% 0;
  position: relative;
  cursor: pointer;
  float: left;
  width: 23.5%;
  display: inline;
  height: 275px;
}

@media screen and (min-width: 1260px) {
  .community .community_content ul li {
    height: 305px;
  }
}

.community .community_content ul li:hover::before {
  opacity: 0;
}

.community .community_content ul li::before {
  content: "";
  background: #1f1f1f;
  opacity: 0.1;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.community .community_content ul li h6 {
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  left: 15px;
  bottom: 15px;
  z-index: 1;
}

.community .community_content ul li div {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.community .community_content ul li div h3 {
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  color: #555;
  margin-bottom: 0;
}

.community .community_content ul li div h3::before {
  content: "";
  background: transparent url("../img/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg") no-repeat -300px 0;
  background-size: 350px;
  display: block;
  width: 50px;
  height: 36px;
  margin: 0 auto;
}

.community .community_content ul li div a {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
  margin-top: 20px;
}

.community .community_content ul li div a:hover {
  text-decoration: none;
  background-color: #3fca89;
}

.community .community_content ul li div a:active:focus {
  background-color: #19a463;
}

.community .community_content ul li div a:focus {
  box-shadow: none;
}

.community .community_content ul li.cta {
  background-color: #eee;
  text-align: center;
}

.community .community_content ul li.cta::before {
  display: none;
}

.community .community_content ul li.designer,
.community .community_content ul li.video-editor,
.community .community_content ul li.musician,
.community .community_content ul li.voiceover {
  background-size: 100%;
  background-position: 0 0;
  transition: background-size 1s;
}

.community .community_content ul li.designer:hover,
.community .community_content ul li.video-editor:hover,
.community .community_content ul li.musician:hover,
.community .community_content ul li.voiceover:hover {
  background-size: 105%;
}

.community .community_content ul li.writer,
.community .community_content ul li.analyst,
.community .community_content ul li.developer {
  transition: background-position 1s;
}

.community .community_content ul li.writer:hover,
.community .community_content ul li.analyst:hover {
  background-position: 45% 0;
}

.community .community_content ul li.developer:hover {
  background-position: 10% 0;
}

.popup-base {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -45px 0;
  width: 1240px;
  max-height: 670px;
  padding-left: 900px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  color: #62646a;
}

.popup-base .popup-content {
  padding: 0 20px 45px 10px;
}

.popup-base .popup-content div.close {
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  text-align: right;
  font-size: 34px;
  line-height: 55px;
  font-weight: 700;
  opacity: 1 !important;
}

.popup-base .popup-content div.close:hover {
  opacity: 1 !important;
}

.popup-base .popup-content div.close a {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.popup-base .popup-content div.close a:hover {
  color: #999 !important;
  text-decoration: none;
}

.popup-base .popup-content h2 {
  text-transform: capitalize;
  color: #555;
  font-size: 24px !important;
  margin-bottom: 25px !important;
  line-height: 120%;
  font-weight: 700;
}

.popup-base .popup-content ul {
  margin-bottom: 45px;
  min-height: 350px;
  list-style: none;
  list-style-image: none;
}

.popup-base .popup-content ul li {
  font-size: 22px;
  line-height: 28px;
  padding: 20px 0;
}

.popup-base .popup-content ul li::before {
  content: "";
  background: url("../img/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg") no-repeat 0 0;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 20px;
}

.popup-base .popup-content ul li:first-child::before {
  background-position: -50px 0;
}

.popup-base .popup-content ul li:nth-child(2)::before {
  background-position: -50px 0;
}

.popup-base .popup-content ul li:last-child::before {
  background-position: -100px 0;
}

.popup-base .popup-content a.btn {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.popup-base .popup-content a.btn:hover {
  background-color: #3fca89;
  outline: none;
}

.popup-base .popup-content a.btn:active {
  background-color: #19a463;
  outline: none;
}

.popup-base .popup-content a.btn:focus {
  box-shadow: none;
}

.popup-base .popup-content blockquote {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 4;
  left: 0;
  bottom: 30px;
  display: block;
  width: 484px;
  padding: 15px;
  color: #fff;
  font-size: 22px;
  line-height: 31px;
  quotes: none;
  font-style: italic;
  font-family: "Times New Roman", Georgia, serif;
  margin: 0;
}

.popup-base .popup-content blockquote span {
  display: block;
  border-top: 2px solid #fff;
  margin: 10px 0 0;
  width: 30px;
}

.popup-base .popup-content blockquote cite {
  font-size: 14px;
  line-height: 31px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

.popup-base .popup-content blockquote cite strong {
  padding-right: 5px;
  margin-right: 5px;
  border-right: 1px #fff solid;
  font-weight: 700;
}

.modal.popop1 {
  transition: all 0.1s;
}

.modal.popop1.show {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal.popop1 .modal-dialog {
  max-width: 1244px;
  transform: translate(0, 0) !important;
}

.modal.popop1 .modal-dialog .modal-content {
  border-radius: 5px;
  margin-bottom: 100px;
}

.popup-base.developer {
  background-size: 68%;
  background-position: 0 -20px;
}

.popup-base.writer {
  background-size: 72%;
  background-position: 0;
}

.popup-base.analyst {
  background-size: 68%;
  background-position: 0;
}

.MODAL2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #62646a;
}

@media only screen and (min-width: 600px) {
  .MODAL2 {
    max-height: 90vh;
    max-width: 600px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    border-radius: 5px;
  }
}

.MODAL2 section.corners {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 0;
  border-radius: 5px;
  background-color: #fff;
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  .MODAL2 section.corners {
    width: 400px;
    padding: 0 36px 24px;
  }
}

.MODAL2 section.corners button.fit-icon {
  width: 20px;
  height: 20px;
  fill: #c5c6c9;
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  display: inline-block;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  fill: #c5c6c9;
}

.MODAL2 section.corners button.fit-icon:hover {
  fill: #95979d;
}

.MODAL2 section.corners button.fit-icon:focus {
  outline: none;
}

@media only screen and (min-width: 600px) {
  .MODAL2 section.corners button.fit-icon {
    display: none;
    right: 24px;
    top: 24px;
  }
}

.MODAL2 section.corners button.fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

.MODAL2 section.corners div.sign-up-form {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.MODAL2 section.corners div.sign-up-form .form-header {
  text-align: center;
  padding: 24px 0;
  display: block;
}

@media only screen and (min-width: 600px) {
  .MODAL2 section.corners div.sign-up-form .form-header {
    padding: 32px 0;
  }
}

.MODAL2 section.corners div.sign-up-form .form-header h4 {
  color: #404145;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .MODAL2 section.corners div.sign-up-form .form-header h4 {
    font-size: 24px;
    line-height: 130%;
  }
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.facebook-signing-button {
  display: flex;
  justify-content: center;
  background: #4267b2;
  border: 1px solid #4267b2;
  border-radius: 4px;
  padding: 12px 30px 12px 16px;
  width: 100%;
  cursor: pointer;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.facebook-signing-button:hover {
  opacity: 0.9;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.facebook-signing-button:focus {
  outline: none;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.facebook-signing-button span.fit-icon {
  width: 18px;
  height: 18px;
  fill: white;
  display: inline-block;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.facebook-signing-button span.fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.facebook-signing-button p.fb {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 0;
  margin-bottom: 0;
  line-height: 100%;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.google-signing-button {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  padding: 12px 30px 12px 16px;
  margin: 12px 0;
  width: 100%;
  cursor: pointer;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.google-signing-button:hover {
  background: #fafafa;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.google-signing-button:focus {
  outline: none;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.google-signing-button span.fit-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  fill: #222325;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.google-signing-button span.fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.google-signing-button p.gg {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #7a7d85;
  padding: 0;
  margin-bottom: 0;
  line-height: 100%;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.apple-signing-button {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 1px solid #e4e5e7;
  border-radius: 4px;
  padding: 12px 30px 12px 16px;
  margin: 12px 0;
  width: 100%;
  cursor: pointer;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.apple-signing-button:hover {
  background: #fafafa;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.apple-signing-button:focus {
  outline: none;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.apple-signing-button span.fit-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  fill: #222325;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.apple-signing-button span.fit-icon svg {
  float: left;
  height: 100%;
  width: 100%;
}

.MODAL2 section.corners div.sign-up-form div.social-signing button.apple-signing-button p.ap {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #7a7d85;
  padding: 0;
  margin-bottom: 0;
  line-height: 100%;
}

.MODAL2 section.corners div.sign-up-form div.social-signing div.form-separator {
  height: 12px;
  margin: 20px 0 32px;
  text-align: center;
  border-bottom: 1px solid #e4e5e7;
}

.MODAL2 section.corners div.sign-up-form div.social-signing div.form-separator span {
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0 8px;
  background-color: #fff;
  color: #62646a;
}

.MODAL2 section.corners div.sign-up-form form {
  width: 100%;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form div.field {
  padding-bottom: 16px;
  position: relative;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form div.field div.fit-input-wrapper {
  display: block;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form div.field div.fit-input-wrapper div.fit-input-inner-wrapper {
  position: relative;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form div.field div.fit-input-wrapper div.fit-input-inner-wrapper input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #c5c6c9;
  border-radius: 4px;
  box-shadow: none;
  font: inherit;
  color: #404145;
  transition: 0.15s ease-in-out;
  vertical-align: middle;
  background-color: #fff;
  margin: 0;
  resize: none;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form div.field div.fit-input-wrapper div.fit-input-inner-wrapper input:hover {
  border-color: #95979d;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form div.field div.fit-input-wrapper div.fit-input-inner-wrapper input:focus {
  outline: none;
  color: #222325;
  box-shadow: inset 2px 2px 2px #e4e5e7;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form button.fit-button {
  display: flex !important;
  justify-content: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  margin: 0;
  overflow: visible;
  background-color: #1dbf73;
  color: #fff;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form button.fit-button:hover {
  background: #19a463;
  text-decoration: none;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form button.fit-button:active {
  background: #168a53;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form button.fit-button:focus {
  outline: none;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form button.fit-button p {
  margin-bottom: 0;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form p.disclaimer {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

.MODAL2 section.corners div.sign-up-form form div.sign-up-email-form p.disclaimer:focus {
  outline: 0;
}

.MODAL2 footer.content-footer {
  display: flex;
  flex-shrink: 0;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  padding: 15px;
}

.MODAL2 footer.content-footer .signing-footer {
  display: flex;
  justify-content: center;
  flex: 1 1;
  font-size: 14px;
  line-height: 21px;
}

.MODAL2 footer.content-footer .signing-footer p {
  line-height: 21px;
  margin-bottom: 0;
}

.MODAL2 footer.content-footer .signing-footer button {
  padding-left: 4px;
  color: #1dbf73;
  border: none;
  background: 0 0;
  font-size: 14px;
  line-height: 21px;
  width: auto;
  overflow: visible;
  cursor: pointer;
}

.MODAL2 footer.content-footer .signing-footer button:hover {
  text-decoration: underline;
}

.MODAL2 footer.content-footer .signing-footer button:focus {
  outline: 0;
}

.popup2 {
  transition: all 0.1s;
  padding-right: 0 !important;
}

.popup2.show {
  background-color: rgba(0, 0, 0, 0.65);
}

.popup2 .modal-dialog {
  min-height: 100%;
  transform: translate(0, 0) !important;
}

@media screen and (min-width: 0px) {
  .popup2 .modal-dialog {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .popup2 .modal-dialog {
    max-width: 402px;
  }
}

body:not(.modal-open) {
  padding-right: 0px !important;
}

.sellLearn {
  padding: 48px 100px 20px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.sellLearn .sellLearn_content {
  display: flex;
  background-color: #f7f7f7;
  width: 988px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px !important;
}

@media screen and (min-width: 1260px) {
  .sellLearn .sellLearn_content {
    width: 1240px;
  }
}

.sellLearn .sellLearn_content .description {
  padding: 24px 0 4px 64px;
}

.sellLearn .sellLearn_content .description .logo {
  background: transparent url("../img/learn_more_logo.svg") no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0 0 20px;
}

.sellLearn .sellLearn_content .description h2 {
  font-size: 28px;
  line-height: 130%;
  font-weight: 700;
  color: #404145;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .sellLearn .sellLearn_content .description h2 {
    font-size: 32px;
    line-height: 120%;
  }
}

.sellLearn .sellLearn_content .description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding: 12px 0 25px;
  color: #7a7d85;
  margin-bottom: 0;
}

.sellLearn .sellLearn_content .description a {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  transition: background-color 0.2s;
  margin-top: 20px;
}

.sellLearn .sellLearn_content .description a:hover {
  background-color: #3fca89;
  text-decoration: none;
  transition: 0s;
}

.sellLearn .sellLearn_content .description a:active {
  background-color: #19a463;
  transition: 0s;
}

.sellLearn .sellLearn_content .video {
  padding: 0 64px;
}

.sellLearn .sellLearn_content .video .wrapper {
  position: relative;
}

.sellLearn .sellLearn_content .video .wrapper:hover i {
  background-color: rgba(0, 0, 0, 0.5);
}

.sellLearn .sellLearn_content .video .wrapper div i {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -33.5px;
  right: 50%;
  margin-right: -33.5px;
  background-size: 71px 71px;
  font-size: 67px;
  width: 71px;
  height: 71px;
  background: transparent url("../img/btn-video-player.svg") no-repeat 0 0;
  background-size: 4em 1em;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  background-position: 0 0;
}

.sellLearn .sellLearn_content .video .wrapper div video {
  height: 100%;
  width: 504px;
  border-radius: 5px;
  cursor: pointer;
}

.sellLearn .sellLearn_content .video .wrapper .video-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 26px;
  left: 10px;
  white-space: pre-line;
  color: #fff;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-title {
  display: flex;
  white-space: pre-line;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-title h3 {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 135%;
  text-transform: capitalize !important;
  white-space: pre-line;
  margin-bottom: 0;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-title span {
  align-self: flex-end;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #1dbf73;
  margin-bottom: 3px;
  padding: 2px 8px;
  line-height: 100%;
  white-space: pre-line;
  color: #fff;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-rating {
  padding: 4px 0;
  line-height: 100%;
  display: flex;
  white-space: pre-line;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-rating .star {
  font-size: 11px;
  color: #ffc100;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-rating .rating-value {
  font-size: 14px;
  font-weight: 700;
  color: #ffc100;
  padding: 0 4px 0 2px;
  line-height: 100%;
  white-space: pre-line;
}

.sellLearn .sellLearn_content .video .wrapper .video-description .description-rating .ratings-count {
  font-size: 12px;
  line-height: 100%;
  white-space: pre-line;
  color: #fff;
}

#videoPopup {
  padding-right: 0 !important;
}

#videoPopup.show {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

#videoPopup .modal-dialog {
  transform: translate(0, 0) !important;
}

@media (min-width: 0px) {
  #videoPopup .modal-dialog {
    max-width: 988px;
  }
}

#videoPopup .modal-dialog .modal-content {
  background-color: transparent;
  display: block;
}

#videoPopup .modal-dialog .modal-content a {
  position: absolute;
  top: -40px;
  right: -40px;
  color: #fff;
  font-size: 37px;
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
}

#videoPopup .modal-dialog .modal-content a:hover {
  text-decoration: none;
}

#videoPopup .modal-dialog .modal-content video {
  cursor: auto;
}

#videoPopup .modal-dialog .modal-content video:focus {
  outline: none;
}

section.header .header-wrapper {
  padding: 0;
}

section.header .header-wrapper .header-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  width: 100%;
  padding: 24px;
}

@media only screen and (min-width: 600px) {
  section.header .header-wrapper .header-row {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row {
    max-width: 1400px;
    margin: 0 auto;
  }
}

section.header .header-wrapper .header-row button.btn-navicon {
  margin-top: -9px;
  background: none;
  border: 0;
  margin-right: 15px;
}

@media screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row button.btn-navicon {
    margin-top: 0px;
    display: none;
  }
}

section.header .header-wrapper .header-row button.btn-navicon:focus {
  outline: none;
}

section.header .header-wrapper .header-row a.site-logo {
  margin: -5px auto 10px;
}

@media screen and (min-width: 600px) {
  section.header .header-wrapper .header-row a.site-logo {
    margin: -4px 32px 0 0;
  }
}

section.header .header-wrapper .header-row div.fiverr-header-search {
  display: inline-block;
  order: 99;
  width: 100%;
  margin-top: 14px;
}

@media screen and (min-width: 600px) {
  section.header .header-wrapper .header-row div.fiverr-header-search {
    order: 0;
    width: 30%;
    margin-top: 0;
  }
}

section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form {
  display: flex;
  position: relative;
}

section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form span.search-bar-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 5;
  top: 8px;
  left: 8px;
}

section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form span.search-bar-icon svg path {
  fill: #95979d;
}

section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form input {
  flex-grow: 1;
  font-size: 16px;
  padding: 7px 7px 7px 28px;
  border-radius: 3px;
  font-weight: 400;
  box-shadow: none;
  z-index: 3;
  background-color: #fff;
  margin: 0;
  resize: none;
  color: #7a7d85;
  border: 1px #ddd solid;
  line-height: 100%;
  vertical-align: middle;
  outline: none;
  outline-offset: initial;
}

@media only screen and (min-width: 900px) {
  section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form input {
    font-size: 15px;
    padding-top: 8px;
  }
}

@media screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form input {
    border-right: 0;
    border-radius: 3px 0 0 3px;
  }
}

section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form input:focus {
  border-color: #999;
  outline: none;
}

section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form button.submit-button {
  display: none;
}

@media screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form button.submit-button {
    padding: 8px 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0 3px 3px 0;
    border: 1px solid transparent;
    line-height: 93%;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    text-shadow: none;
    color: #fff;
    background-color: #1dbf73;
    width: auto;
    margin: 0;
  }
  section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form button.submit-button:hover {
    background: #19a463;
  }
  section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form button.submit-button:active {
    background: #168a53;
  }
  section.header .header-wrapper .header-row div.fiverr-header-search div.search-bar-package form button.submit-button:focus {
    outline: none;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav {
  display: inline-block;
  display: flex;
}

@media only screen and (min-width: 600px) {
  section.header .header-wrapper .header-row nav.fiverr-nav {
    flex-grow: 1;
    justify-content: flex-end;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul {
  display: inline;
  list-style: none;
  margin-bottom: 0;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li {
  display: inline;
  padding: 0 24px 0 0;
}

@media (max-width: 1240px) and (min-width: 1082px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li {
    padding-right: 20px;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li a {
  text-decoration: none;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg1 {
  display: none;
}

@media screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg1 {
    display: inline;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg1 a.link {
  color: #1fd0b6;
  white-space: nowrap;
  font-weight: 600;
  font-size: 17px;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg1 a.link:hover {
  color: #6ce9d7;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg2 {
  display: none;
}

@media screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg2 {
    display: inline;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg2 .resources-tab-package {
  display: inline;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg2 .resources-tab-package .fit-popover {
  display: inline;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 {
  display: none;
}

@media screen and (min-width: 1160px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 {
    display: inline;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger {
  display: inline;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.globe {
  display: inline;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.globe button.selection-trigger {
  background: none;
  border: none;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.globe button.selection-trigger:hover svg path {
  fill: #1dbf73;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.globe button.selection-trigger:focus {
  outline: none;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.globe button.selection-trigger span.trigger-icon svg {
  margin: 0 4px 2px 0;
  height: 16px;
  width: 16px;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.package {
  display: inline;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.package button.selection-trigger {
  border: none;
  background: none;
  padding-left: 20px;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-lg3 section.locale-settings-trigger section.package button.selection-trigger:focus {
  outline: none;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-md4 {
  display: none;
}

@media screen and (min-width: 900px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-md4 {
    display: inline;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-sm5 {
  display: none;
}

@media screen and (min-width: 600px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-from-sm5 {
    display: inline;
  }
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-alway {
  padding: 0 0 0 0;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-alway a.fiverr-header-join {
  font-size: 17px;
  color: #62646a;
  font-weight: 600;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  margin-top: -2px;
}

section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-alway a.fiverr-header-join:hover {
  color: #95979d;
}

@media screen and (min-width: 600px) {
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-alway a.fiverr-header-join {
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #1dbf73;
    border-radius: 3px;
    padding: 10px 16px;
    color: #1dbf73;
    font-size: 14px;
    font-weight: 700;
  }
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-alway a.fiverr-header-join:hover {
    background-color: #1dbf73;
    border-color: #1dbf73;
    color: #fff;
  }
  section.header .header-wrapper .header-row nav.fiverr-nav ul li.display-alway a.fiverr-header-join:active {
    background-color: #168a53;
    border-color: #168a53;
  }
}

.header .styleNav {
  font-weight: 600;
  color: #7a7d85;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  fill: #7a7d85;
}

.header .styleNav:hover {
  color: #1dbf73 !important;
}

section.qa {
  background: #f7f7f7;
  margin: 0 auto;
  position: relative;
}

section.qa .qaContent {
  width: 988px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 988px;
}

@media (min-width: 1260px) {
  section.qa .qaContent {
    width: 1240px;
  }
}

section.qa .qaContent div.qaHeader {
  display: block;
}

section.qa .qaContent div.qaHeader h2 {
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 30px;
  color: #222325;
  font-size: 28px;
  line-height: 130%;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  section.qa .qaContent div.qaHeader h2 {
    font-size: 32px;
    line-height: 120%;
  }
}

section.qa .qaContent ul.componentLeft {
  margin-right: 1%;
  width: 49%;
  float: left;
  padding: 0;
  list-style: none;
}

section.qa .qaContent ul.componentRight {
  margin-left: 1%;
  width: 49%;
  float: left;
  padding: 0;
  list-style: none;
}

section.qa .qaContent ul li.lp {
  border-left: 5px transparent solid;
  transition: border-color, 0.3s;
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: left;
  border-radius: 3px;
}

section.qa .qaContent ul li.lp.opened section:before {
  transform: rotateZ(-180deg);
}

section.qa .qaContent ul li.lp.opened div.panel {
  padding: 20px 15px;
  max-height: inherit;
  color: #0e0e0f;
}

section.qa .qaContent ul li.lp:hover {
  border-color: #1dbf73;
}

section.qa .qaContent ul li.lp section {
  font-weight: 700;
  font-size: 14px;
  padding: 20px 15px;
  cursor: pointer;
  color: #0e0e0f;
  line-height: 20px;
}

section.qa .qaContent ul li.lp section::before {
  content: "\f078";
  color: #0e0e0f;
  font-size: 11px;
  display: block;
  float: right;
  transition: transform 0.3s;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}

section.qa .qaContent ul li.lp div.panel {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  max-height: 0;
  padding: 0 20px 0 0;
  transition: max-height 0.3s, padding-top 0.3s;
}

.how {
  background: #f7f7f7;
  margin: 0 auto;
}

.how .howContent {
  width: 988px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;
}

@media (min-width: 1260px) {
  .how .howContent {
    width: 1240px;
  }
}

.how .howContent div.title h2 {
  text-transform: capitalize;
  padding-bottom: 30px;
  color: #222325;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 130%;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .how .howContent div.title h2 {
    font-size: 32px;
    line-height: 120%;
  }
}

.how .howContent div.row {
  margin-right: 0;
  margin-left: 0;
}

.how .howContent div.row div:nth-child(2) {
  margin-left: 5%;
}

.how .howContent div.row div:nth-child(3) {
  margin-left: 5%;
}

.how .howContent div.row div.col-4 {
  flex: 0 0 30%;
  max-width: 30%;
  padding-left: 0;
  padding-right: 0;
}

.how .howContent div.row div.col-4 h3 {
  color: #555;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.how .howContent div.row div.col-4 h3.img1::before {
  background: transparent url("../img/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg") no-repeat 0 0;
  background-size: 350px;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-position: -200px 0;
  margin: 0 auto 15px;
}

.how .howContent div.row div.col-4 h3.img2::before {
  background: transparent url("../img/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg") no-repeat 0 0;
  background-position: -294px 0;
  background-size: 419px;
  width: 64px;
  content: "";
  display: block;
  height: 50px;
  margin: 0 auto 15px;
}

.how .howContent div.row div.col-4 h3.img3::before {
  background: transparent url("../img/sprite-start-selling-bef22ab67dff9a5d27397d224f85df2f.svg") no-repeat 0 0;
  background-size: 350px;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 15px;
}

.how .howContent div.row div.col-4 p {
  margin-bottom: 0;
  font-size: 16px;
}

.started {
  width: 988px;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 120%;
  text-align: center;
  color: #62646a;
  font-size: 19px;
}

@media (min-width: 1260px) {
  .started {
    width: 1240px;
  }
}

.started a.bton {
  background-color: #1dbf73;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;
  border: 1px solid transparent;
  padding: 15px 35px;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
}

.started a.bton:hover {
  background-color: #3fca89;
  outline: none;
}

.started a.bton:focus {
  outline: none;
}

.started a.bton:active {
  background-color: #19a463;
}

.buyer {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
  color: #fff;
}

.buyer .buyer_content {
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
  margin: 0 auto;
  width: 988px;
}

@media screen and (min-width: 1260px) {
  .buyer .buyer_content {
    width: 1240px;
  }
}

.buyer .buyer_content div.buyTitle {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

.buyer .buyer_content div.buyTitle h2 {
  text-align: center;
  padding-bottom: 30px;
  color: #222325;
  font-size: 28px;
  line-height: 130%;
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .buyer .buyer_content div.buyTitle h2 {
    font-size: 32px;
    line-height: 120%;
  }
}

.buyer .buyer_content ul {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

.buyer .buyer_content ul li {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  width: 50%;
  height: 289px;
  position: relative;
  float: left;
  box-sizing: border-box;
  display: list-item;
}

.buyer .buyer_content ul li blockquote {
  color: #62646a;
  font: italic 18px/140% Georgia, "Times New Roman", serif;
  display: block;
  position: absolute;
  top: 50%;
  z-index: 2;
  padding: 0 25px;
  width: 50%;
  box-sizing: border-box;
  transform: translateY(-50%);
}

.buyer .buyer_content ul li blockquote cite {
  font: normal 14px/140% "Macan", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  padding-top: 25px;
  color: #62646a;
}

.buyer .buyer_content ul li::before {
  content: "";
  display: inline-block;
  border-top: 19px rgba(0, 0, 0, 0) solid;
  border-bottom: 19px rgba(0, 0, 0, 0) solid;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
}

.buyer .buyer_content ul li::after {
  content: "";
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  float: right;
  width: 50%;
  height: 289px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.buyer .buyer_content ul li.buyer1 {
  padding-left: 25%;
}

.buyer .buyer_content ul li.buyer1::before {
  border-right: 25px #f7f7f7 solid;
  transform: translate3d(-24px, -50%, 0);
}

.buyer .buyer_content ul li.buyer1::after {
  left: 0;
  background-image: url("../img/buyer/gore.jpg");
}

.buyer .buyer_content ul li.buyer2 {
  padding-left: 25%;
}

.buyer .buyer_content ul li.buyer2::before {
  border-right: 25px #f7f7f7 solid;
  transform: translate3d(-24px, -50%, 0);
}

.buyer .buyer_content ul li.buyer2::after {
  left: 0;
  background-image: url("../img/buyer/mashal.jpg");
}

.buyer .buyer_content ul li.buyer3 {
  padding-right: 25%;
}

.buyer .buyer_content ul li.buyer3::before {
  border-left: 25px #f7f7f7 solid;
  transform: translate3d(-1px, -50%, 0);
}

.buyer .buyer_content ul li.buyer3::after {
  right: 0;
  background-image: url("../img/buyer/sunami.jpg");
}

.buyer .buyer_content ul li.buyer4 {
  padding-right: 25%;
}

.buyer .buyer_content ul li.buyer4::before {
  border-left: 25px #f7f7f7 solid;
  transform: translate3d(-1px, -50%, 0);
}

.buyer .buyer_content ul li.buyer4::after {
  right: 0;
  background-image: url("../img/buyer/dolan.jpg");
}

section.footer {
  background-color: #fff;
  border-top: 1px solid #e4e5e7;
  position: relative;
}

section.footer .footer-wrapper {
  padding: 0 24px 16px 24px;
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  section.footer .footer-wrapper {
    padding: 0px 32px 16px 32px;
  }
}

@media only screen and (min-width: 1160px) {
  section.footer .footer-wrapper {
    max-width: 1400px;
  }
}

section.footer .footer-wrapper .bottom {
  display: flex;
  align-items: center;
  min-width: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.footer .footer-wrapper .bottom div.left {
  min-width: 0;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  section.footer .footer-wrapper .bottom div.left {
    width: auto;
    flex-direction: row;
  }
}

section.footer .footer-wrapper .bottom div.left span svg {
  width: 77px;
  height: 23px;
}

section.footer .footer-wrapper .bottom div.left p {
  color: #b5b6ba;
  display: flex;
  min-width: 0;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  section.footer .footer-wrapper .bottom div.left p {
    flex-direction: row;
  }
}

section.footer .footer-wrapper .bottom div.left p span {
  white-space: nowrap;
  margin-top: 8px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 21px;
  font-size: 15px;
}

@media only screen and (min-width: 600px) {
  section.footer .footer-wrapper .bottom div.left p span {
    margin-top: 0;
    margin-left: 24px;
  }
}

section.footer .footer-wrapper .bottom div.left p span a {
  color: #7a7d85;
  white-space: nowrap;
  line-height: 21px;
  font-size: 13px;
}

section.footer .footer-wrapper .bottom div.right {
  display: flex;
  align-items: center;
  padding-top: 16px;
  width: 100%;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  section.footer .footer-wrapper .bottom div.right {
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

section.footer .footer-wrapper .bottom div.right ul {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  list-style: none;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  section.footer .footer-wrapper .bottom div.right ul {
    justify-content: flex-start;
    padding-bottom: 0;
    width: auto;
  }
}

section.footer .footer-wrapper .bottom div.right ul li {
  margin-right: 24px;
}

section.footer .footer-wrapper .bottom div.right ul li a {
  display: flex;
  text-decoration: none;
}

section.footer .footer-wrapper .bottom div.right ul li a:hover {
  padding: 8px;
  margin: -8px;
  background-color: #efeff0;
  border-radius: 50%;
  transition: background-color 0.2s;
}

section.footer .footer-wrapper .bottom div.right ul li a label {
  display: none;
}

section.footer .footer-wrapper .bottom div.right ul li a span {
  fill: #7a7d85;
  display: inline-block;
  background: none;
  border: none;
  margin: 0;
}

section.footer .footer-wrapper .bottom div.right ul li a span svg {
  float: left;
  width: 20px;
  height: 20px;
}

section.footer .footer-wrapper .bottom div.right .buttons {
  display: flex;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger {
  display: flex;
  align-items: center;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection {
  color: #7a7d85;
  font-weight: 600;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 21px;
  width: auto;
  overflow: visible;
  margin: 0;
  cursor: pointer;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection .fit-icon {
  fill: #7a7d85;
  margin-right: 8px;
  margin-bottom: 5px;
  display: inline-block;
  background: none;
  border: none;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection .fit-icon svg {
  height: 100%;
  width: 100%;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection .label {
  color: #7a7d85;
  font-weight: 600;
  line-height: 21px;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection:hover {
  background-color: #f5f5f5;
  border-radius: 54px;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection:hover span.label {
  color: #404145;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection:hover .fit-icon {
  fill: #404145;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .package .selection:focus {
  outline: none;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .locale .dollar {
  margin-left: 4px;
  color: #7a7d85;
  font-weight: 600;
  padding: 8px 12px;
  background: none;
  font-size: 14px;
  line-height: 21px;
  width: auto;
  overflow: visible;
  margin: 0;
  cursor: pointer;
  border: none;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .locale .dollar:hover {
  color: #404145;
  background-color: #f5f5f5;
  border-radius: 54px;
}

section.footer .footer-wrapper .bottom div.right .buttons .trigger .locale .dollar:focus {
  outline: none;
}

div.modalLanguage {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

@media only screen and (min-width: 600px) {
  div.modalLanguage {
    max-height: 90vh;
    max-width: 600px;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    border-radius: 4px;
  }
}

div.modalLanguage div.header {
  background: #fff;
  border-bottom: none;
  padding: 24px 24px 48px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

@media only screen and (min-width: 600px) {
  div.modalLanguage div.header {
    padding: 32px 32px 24px;
    border-radius: 4px 4px 0 0;
  }
}

div.modalLanguage div.header h2 {
  font-weight: 700;
  color: #404145;
  font-size: 21px;
  line-height: 22px;
  margin-bottom: 0;
}

div.modalLanguage div.header button {
  padding: 0;
  font-size: 32px;
  background: none;
  border: none;
  font-weight: 400;
  color: #999;
  cursor: pointer;
  height: 100%;
  outline: none;
  width: auto;
  overflow: visible;
}

div.modalLanguage div.header button:active {
  border: none;
}

div.modalLanguage div.header button span {
  font-weight: 400;
  color: #999;
  cursor: pointer;
}

div.modalLanguage div.header button span:hover {
  color: #555;
}

div.modalLanguage section.contentLanguage {
  padding: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  flex-grow: 1;
  overflow-y: auto;
}

@media only screen and (min-width: 600px) {
  div.modalLanguage section.contentLanguage {
    width: 400px;
    max-height: 400px;
  }
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row {
  text-decoration: none;
  border: none;
  background: none;
  color: #62646a;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  vertical-align: baseline;
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row:not(:last-child) {
  padding-bottom: 10px;
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div {
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div:hover {
  background: #f5f5f5 !important;
  cursor: pointer;
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div:focus {
  outline: 0;
}

@media only screen and (min-width: 600px) {
  div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div {
    padding: 10px 56px;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 600px) {
  div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div.itemselected {
    padding: 10px 32px;
  }
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div span {
  order: 1;
  margin: 0;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  fill: #222325;
}

@media only screen and (min-width: 600px) {
  div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div span {
    order: 0;
    margin-right: 14px;
  }
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div span svg {
  float: left;
  height: 100%;
  width: 100%;
}

div.modalLanguage section.contentLanguage div.modal-theme section.selection-list a.item-row div p {
  color: #62646a;
  line-height: 24px;
  cursor: pointer;
  margin-bottom: 0;
}

.footerPopup {
  transition: all 0.1s;
  padding-right: 0 !important;
}

.footerPopup.show {
  background-color: rgba(0, 0, 0, 0.65);
}

.footerPopup .modal-dialog {
  min-height: 100%;
  transform: translate(0, 0) !important;
}

@media screen and (min-width: 0px) {
  .footerPopup .modal-dialog {
    max-width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 600px) {
  .footerPopup .modal-dialog {
    max-width: 402px;
  }
}
/*# sourceMappingURL=main.css.map */