.started {
    width: 988px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 120%;
    text-align: center;
    color: #62646a;
    font-size: 19px;
    @media (min-width: 1260px) {
        width: 1240px;
    }
    a.bton {
        background-color: #1dbf73;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: #fff;
        border: 1px solid transparent;
        padding: 15px 35px;
        margin: 0;
        display: inline-block;
        border-radius: 3px;
        margin-top: 20px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, border 0.2s;
        &:hover {
            background-color: #3fca89;
            outline: none;
        }
        &:focus {
            outline: none;
        }
        &:active {
            background-color: #19a463;
        }
    }
}
